@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

.sidebar-title-content{
  /* border: 1px solid black; */
  margin-bottom: 10px;
}
.sidebar-title-content:hover{
  background-color: #474444;
}
.active-sidebar p{
  font-weight: 700;
  background: rgb(148, 146, 146);
}